<% provide(:title, t(".title")) %>
<% provide(:url, admin_soccer_matches_path) %>
<% provide(:btn_match, t(".new_btn")) %>
<h1 class="text-center"> <%= t".title" %> </h1>
<div class="row mt-3 soccer-match">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
