<li id="bet-<%= bet.id %>">
  <div class="row mt-3">
    <div class="col-md-6 text-center">
      <%= bet.content %>
    </div>
    <div class="col-md-2">
      <%= bet.rate %>
    </div>
    <div class="col-md-4">
      <%= link_to t(".bet"), "#" %>
    </div>
  </div>
</li>
