<% provide :title, current_user.name %>
<div class="row">
  <aside class="col-md-4">
    <%= render "user_info" %>
    <h5>
      <%= link_to t(".account_balance"), currencies_path %>
      <%= number_to_currency(sum_amount current_user) %>
    </h5>
  </aside>
</div>
