<div class="d-flex border-end flex-sm-column flex-row flex-nowrap bg-light sticky-top">
  <ul class="mt-3 nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto">
    <%= render "shared/#{current_user.admin? ? 'asider_admin' : 'asider_user'}" %>
  </ul>
</div>
