<footer>
  <div class="container-flush fixed-bottom bg-light">
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-4">
          <%= link_to t(".football_bet"), "#" %> |
          <%= t ".version" %>
        </div>
        <div id="contact" class="col-sm-8">
          <%= t ".intro" %>
        </div>
      </div>
    </div>
  </div>
</footer>
