<footer>
  <div class="container">
    <div class="card-footer">
      <div class="row">
        <div class="col">
          <%= link_to t(".football_bet"), "#" %>
        </div>
        <div id="contact" class="col text-center">
          <%= link_to t(".about"), static_pages_about_path %>
          <%= link_to t(".contact"), "#" %>
          <%= link_to t(".new"), "#" %>
        </div>
      </div>
    </div>
  </div>
</footer>
